<launch>

  <arg name="bagfile" default="
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-30-18_1.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-31-46_2.bag" />

<!--   <arg name="bagfile" default="
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-30-18_1.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-31-46_2.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-33-14_3.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-34-41_4.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-36-09_5.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-37-36_6.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-39-04_7.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-40-31_8.bag
    /home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-41-59_9.bag" /> -->

  <!-- Setup the camera -->
  <arg name="camera" default="/stereo_down"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Play the bagfile -->
 <!--  <node pkg="rosbag" type="play" name="rosbag" args="- -clock $(arg bagfile) - -topics /stereo_down/left/image_raw /stereo_down/left/camera_info /stereo_down/right/image_raw /stereo_down/right/camera_info" /> -->

  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)" />

  <!-- Stereo image proc -->
  <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />
  <include file="$(find turbot_configurations)/launch/modules/stereo_crop_decimate.launch" >
    <arg name="stereo" value="$(arg camera)" />
  </include>
  <node ns="$(arg camera)/scaled" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />

  <!-- ORB_SLAM2 Stereo -->
  <node pkg="orb_tracker" type="orb_tracker" name="orb_tracker" output="screen" args="$(find orb_tracker)/vocabulary/ORBvoc.txt">
    <remap from="/camera/left/image_rect" to="$(arg camera)/scaled/left/image_rect"/>
    <remap from="/camera/right/image_rect" to="$(arg camera)/scaled/right/image_rect"/>
    <remap from="/camera/left/camera_info" to="$(arg camera)/scaled/left/camera_info"/>
    <remap from="/camera/right/camera_info" to="$(arg camera)/scaled/right/camera_info"/>
  </node>

<!--   <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" output="screen">
    <remap from="cloud_in" to="$(arg camera)/scaled/points2"/>
    <param name="resolution" value="0.05" />
  </node> -->

</launch>
